.story-slide-content-41 {
  .background-layer {
    .table-bg {
      background-position-y: -270px;
    }
  }
  .midground-layer {
    .whiskey-bottle {
      top: -10px;
      left: 265px;
    }
  }

  .foreground-layer {
    .glass-1 {
      top: 330px;
      left: 50px;
    }

    .glass-2 {
      top: 290px;
      left: 575px;
    }
  }
}