.category-display {
  $blue: #1168BF;
  min-height: 300px;

  .ui.button {
    margin: 0;
  }

  .category-recipe-list.ui.list {
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 33%;

    li {
      padding: 10px 20px;
      border-top: 1px solid black;
      font-size: 16px;
      color: black !important;
    }
    li:before {
      display: none;
    }
    li:hover {
      color: $blue;
      background-color: #ddd;
    }
    li:first-child {
      border-top: none;
    }
  }
}