#cookbook {
  overflow: hidden;
  color: white;
  width: 100%;
  position: relative;
}

#cookbook ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#cookbook li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
#cookbook img {
    vertical-align: middle;
    width: 100%;
}

/*
 * Allow only vertical resizing of textareas.
 */
#cookbook textarea {
    resize: vertical;
}

.rellaxTitle {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
}

.rellaxTitle h1,
#cookbook .rellaxDescription h1 {
  font-size: 60px;
}

.rellaxDescription {
  padding-bottom: 20px;
}

.rellaxSteps {
  position: absolute;
  top: 0;
}

#cookbook .step {
  background: none;
  text-align: center;
  width: 100%;
  margin-top: 700px;
}
#cookbook .blue-step {
  background-color: #21263a;
  background-color: rgba(33, 38, 58, 0.4);
}

#cookbook .step6 {
  margin-top: 900px;
}

#cookbook .step7 {
  margin-top: 800px;
}

#cookbook .step h1 {
  padding-top: 20px;
}

.step div {
  padding-left: 80px;
  padding-right: 80px;
}

#cookbook .rellaxImage {
  width: 100%;
}

#cookbook .no-header,
#cookbook .finisher {
  padding-top: 25px;
  font-size: 140%;
}
