#cookbook {
  overflow: hidden;
  color: white;
  width: 90%;
  position: relative;
}

#cookbook ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#cookbook li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
#cookbook img {
    vertical-align: middle;
    width: 100%;
}

/*
 * Allow only vertical resizing of textareas.
 */
#cookbook textarea {
    resize: vertical;
}

.rellaxTitle {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
}

.rellaxTitle h1,
#cookbook .rellaxDescription h1 {
  font-size: 60px;
}

.rellaxDescription {
  padding-bottom: 20px;
}

.rellaxSteps {
  position: absolute;
  top: 0;
}

#cookbook .step {
  background: none;
  text-align: center;
  width: 100%;
}
#cookbook .blue-step {
  background-color: #21263a;
  background-color: rgba(33, 38, 58, 0.4);
}

#cookbook .step h1 {
  padding-top: 20px;
}

.step div {
  padding-left: 80px;
  padding-right: 80px;
}

#cookbook .rellaxImage {
  width: 100%;
}

#cookbook .no-header,
#cookbook .finisher {
  padding-top: 25px;
  font-size: 140%;
}

#cookbook .step {
  margin-top: 530px;
}

#cookbook .step2 {
  margin-top: 570px;
}

#cookbook .step3 {
  margin-top: 700px;
}

#cookbook .step4 {
  margin-top: 550px;
}

#cookbook .step5 {
  margin-top: 720px;
}

#cookbook .step6 {
  margin-top: 800px;
}

#cookbook .step7 {
  margin-top: 610px;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  #cookbook {
    width: 74%;
  }

  #cookbook .step {
    margin-top: 530px;
  }

  #cookbook .step2 {
    margin-top: 330px;
  }

  #cookbook .step3 {
    margin-top: 500px;
  }

  #cookbook .step4 {
    margin-top: 350px;
  }

  #cookbook .step5 {
    margin-top: 570px;
  }

  #cookbook .step6 {
    margin-top: 600px;
  }

  #cookbook .step7 {
    margin-top: 510px;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #cookbook {
    width: 57%;
  }

  #cookbook .step {
    margin-top: 500px;
  }

  #cookbook .step2 {
    margin-top: 50px;
  }

  #cookbook .step3 {
    margin-top: 200px;
  }

  #cookbook .step4 {
    margin-top: 200px;
  }

  #cookbook .step5 {
    margin-top: 350px;
  }

  #cookbook .step6 {
    margin-top: 400px;
  }

  #cookbook .step7 {
    margin-top: 310px;
  }
}

@media (max-width: @screen-xs-max) {
  #cookbook {
    width: 24%;
  }

  .rellaxTitle {
    top: 40px;
  }
  .rellaxTitle h1 {
    font-size: 20px;
  }

  #cookbook .step {
    margin-top: 210px;
  }

  #cookbook .step h1 {
    font-size: 20px;
  }

  #cookbook .step p {
    font-size: 12px;
  }

  #cookbook .step div {
    padding-left: 10px;
    padding-right: 10px;
  }

  #cookbook .step2 {
    margin-top: -66px;
  }

  #cookbook .step3 {
    margin-top: -64px;
  }

  #cookbook .step4 {
    margin-top: -51px;
  }

  #cookbook .step5 {
    margin-top: 100px;
  }

  #cookbook .step6 {
    margin-top: 100px;
  }

  #cookbook .step7 {
    margin-top: 107px;
  }
}