#home_page {
  padding-bottom: 100px;
}

.nav li {
  padding-left: 23px;
  padding-right: 23px;
  text-align: center;
}

.nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.white-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
}

.nav img {
  margin-top: 15px;
  height: 130px;
}

.cookbook-icon img {
  margin-top: 20px !important;
}

.man-icon img {
  height: 150px;
  margin-top: 5px;
}

@media (min-width: @screen-lg-min) {
  li.man-icon {
    padding-left: 0px;
  }

  #home_page #navigation .navbar-nav {
    margin-left: -20px;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  li.man-icon {
    padding-left: 3px;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #home_page #navigation .navbar-nav {
    margin-left: -20px;
  }
  li.man-icon {
    padding-left: 0px;
  }
}

@media (max-width: @screen-xs-max) {
  #home_page {
    padding-bottom: 10px;
  }

  #home_page #navigation .navbar-nav {
    margin-left: 10px;
  }

  #home_page .nav li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #home_page .nav img {
    margin-top: 18px;
  }

  .cookbook-icon img {
    margin-top: 25px !important;
  }
}