#home_page {
  padding-bottom: 100px;
}

.nav li {
  padding-left: 23px;
  padding-right: 23px;
  text-align: center;
}

.nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.white-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
}

.nav img {
  margin-top: 15px;
  height: 130px;
}

.cookbook-icon img {
  margin-top: 20px !important;
}

.man-icon img {
  height: 150px;
  margin-top: 5px;
}
