#profile-page {
  height: 100%;
}

#profile-page .page {
  background-color: @man-page-dossier-gradient-start-color;
  background: -moz-linear-gradient(top, @man-page-dossier-gradient-start-color @man-page-dossier-gradient-start-percentage, @man-page-dossier-gradient-middle-color @man-page-dossier-gradient-middle-percentage, @man-page-dossier-gradient-end-color @man-page-dossier-gradient-end-percentage); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, @man-page-dossier-gradient-start-color @man-page-dossier-gradient-start-percentage, @man-page-dossier-gradient-middle-color @man-page-dossier-gradient-middle-percentage, @man-page-dossier-gradient-end-color @man-page-dossier-gradient-end-percentage); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, @man-page-dossier-gradient-start-color @man-page-dossier-gradient-start-percentage, @man-page-dossier-gradient-middle-color @man-page-dossier-gradient-middle-percentage, @man-page-dossier-gradient-end-color @man-page-dossier-gradient-end-percentage); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100%;
}

#profile-page {
  padding-right: @man-page-dossier-page-gutter;
  padding-left: 0;
}

#profile-page .list-group {
  margin-bottom: 0;
}

#profile-page .list-group-item {
  text-align: right;
  background: none;
  border: none;
}

#profile-page #stats .label {
  float: left;
}

#profile-page #actionShot img {
  height: 350px;
  padding: 10px;
  background-color: white;
  -webkit-transform: rotate(@man-page-action-shot-rotation);
  -moz-transform: rotate(@man-page-action-shot-rotation);
  -o-transform: rotate(@man-page-action-shot-rotation);
  -ms-transform: rotate(@man-page-action-shot-rotation);
  transform: rotate(@man-page-action-shot-rotation);
  margin-top: -35px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#profile-page .stamp {
  top: 23%;
  left:21%;
}

#profile-page #classified-warning {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #f09537;
  margin-top: -10px;
}

#progression-category-view {
  height: 250px;
}

#profile-page h1  {
  margin-top: 0;
}
