#login-container {
  float: left;
  margin-top: 10px;
}
#login-container #login-buttons a {
  text-decoration: none;
}

#header .nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
}

#header .flame-container {
  margin-top: 10px;
}
