<template name="ApplicationHeader">
  <div id="header" class="col-xs-12">
    <div id="login-container">{{> loginButtons}}</div>
    <div id="subnav" class="navbar navbar-right">
      <ul class="nav navbar-nav">
          <li>{{#linkTo route="contact" class="subnav-btn"}}Contact{{/linkTo}}</li>
          {{#if loggedIn}}
            <li>{{#linkTo route="profile" class="subnav-btn"}}MyProfile{{/linkTo}}</li>
          {{/if}}
      </ul>
    </div>
    <div id="flame" class="animated fadeIn row">
      {{> flame}}
    </div>
    <div style="clear: both;"></div>
  </div>
</template>

<template name="HeaderBack">
  <div id="backButton"><a class="link" href="/"><span class="glyphicon glyphicon-triangle-left"></span>Back</a></div>
</template>