.story-slide-content-38 {
  .background-layer {
    .ai-bg {
      height: 750px;
      width: 750px;
      background-position-y: -150px;
      background-repeat: no-repeat;
    }
  }
  .midground-layer {
    .ai-top {
      height: 375px;
      width: 750px;
      top: -60px;
      left: 0;
      position: absolute;
    }

    .ai-bottom {
      height: 375px;
      width: 750px;
      top: 230px;
      left: 0;
      position: absolute;
    }
  }

  .foreground-layer {
    .eyes-1 {
      height: 133px;
      width: 400px;
      top: 100px;
      left: 175px;
      position: absolute;
    }

    .eyes-3 {
      height: 137px;
      width: 400px;
      top: 96px;
      left: 175px;
      position: absolute;
    }
  }
}