.story-slide-content-39 {
  .background-layer {
    .ai-bg {
      height: 750px;
      width: 750px;
      background-position-y: -150px;
      background-repeat: no-repeat;
    }
  }
  .midground-layer {
    .ai-top {
      height: 375px;
      width: 750px;
      top: -60px;
      left: 0;
      position: absolute;
    }

    .ai-bottom {
      height: 375px;
      width: 750px;
      top: 230px;
      left: 0;
      position: absolute;
    }
  }

  .foreground-layer {
    .eyes-2 {
      height: 121px;
      width: 400px;
      top: 100px;
      left: 175px;
      position: absolute;
    }

    .ai-text {
      top: 300px;
      left: 101px;
      position: absolute;
      color: black !important;
    }
  }
}