.not-found-page {
  width: 700px !important;
  margin: 35px auto 0;
  display: block;

  .not-found-image {
    display: inline;
    .ui.image {
      width: 25% !important;
      display: inline-block;
    }
  }
  .not-found-title {
    width: 70%;
    float: right;
    background: url(/img/bg-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 400px;
    padding-left: 20px;

    h1 {
      font-size: 30px;
      color: #1f2128;
      margin-bottom: 20px;
      margin-top: 50px !important;
    }
    a.gotohomepage {
      background-color: #de4f4f;
      color: #fff;
      width: 180px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      height: 40px;
      margin: 0 auto;
    }
  }
}