.story-slide-content-2 {
  .adell {
    position: absolute;
    top: 30px;
    left: 35px;
    height: 350px;
    width: 257px;
  }

  .adell.facing-left {
    background-position-x: 257px;
  }

  .lupov {
    position: absolute;
    top: 30px;
    right: 35px;
    height: 350px;
    width: 263px;
  }

  .lupov.facing-left {
    background-position-x: 263px;
  }
}