<template name="applicationHeader">
  <div id="header" class="col-lg-11 col-md-9 col-sm-7 col-xs-3">
    <div id="login-container">{{> loginButtons}}</div>
    <div id="flame" class="animated fadeIn row">
      {{> flame}}
    </div>
    <div id="subnav" class="navbar navbar-right">
      <ul class="nav navbar-nav">
        {{#if loggedIn}}
          <li>{{#linkTo route="profile" class="subnav-btn"}}MyProfile{{/linkTo}}</li>
        {{/if}}
        <li>{{#linkTo route="contact" class="subnav-btn"}}Contact{{/linkTo}}</li>
      </ul>
    </div>
    <div style="clear: both;"></div>
  </div>
</template>

<template name="HeaderBack">
  <div id="backButton"><a class="link" href="/"><span class="glyphicon glyphicon-triangle-left"></span>Back</a></div>
</template>