#footer {
  padding-top: 20px;
}
#footer-links .navbar-nav {
  //display: block;
  //float: none;
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
}

#footer-links.navbar {
  min-height: 0 !important;
}

#footer-links .navbar-nav > li {
  //float: none;
  padding-left: 15px;
  padding-right: 15px;
}

#footer-links .nav li a {
  padding: 10px;
}

#footer-links .nav > li > a {
  display: inline;
}

#footer-links .nav > li > a:hover {
  background: none;
}

#copyright,
#version {
  text-align: center;
  color: green;
}

#version {
  font-weight: bold;
}
