<template name="applicationFooter">
  <div id="footer" class="col-lg-11 col-md-9 col-sm-7 col-xs-3">
    <div class="row">
      <div id="footer-links" class="col-lg-3 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 navbar">
        <ul class="nav navbar-nav">
          <li>{{#linkTo route="faq"}}FAQ{{/linkTo}}</li>
          <li><a href="http://andypangus.com" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div id="copyright" class="col-xs-12">
        Copyright &#169; 2017 Andrew Page<br/>
        All rights reserved, including electronic reproduction.
      </div>
      <div id="version" class="col-xs-12">
        {{version}}
      </div>
    </div>
  </div>
</template>