.story-slide-content-8 {
  .midground-layer {
    .whiskey-bottle {
      top: 260px;
      left: 265px;
    }
  }

  .foreground-layer {
    .glass-1 {
      top: 600px;
      left: 200px;
    }

    .glass-2 {
      top: 560px;
      left: 475px;
    }
  }
}