.story-slide-content-3 {
  .background-layer {
    background-color: #DBDB99;
  }
  .symbol-1 {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 325px;
    width: 282px;
    margin-left: -141px !important;
  }

  .symbol-2{
    position: absolute;
    top: 20px;
    left: 50%;
    height: 325px;
    width: 302px;
    margin-left: -151px !important;
  }

  .symbol-3 {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 325px;
    width: 356px;
    margin-left: -178px !important;
  }

  .symbol-4 {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 325px;
    width: 318px;
    margin-left: -159px !important;
  }

}