//** Variables
@section-border-thickness:                1px;
@section-border-type:                     solid;
@section-border-color:                    #6B6A6A;

@splash-logo-width:                       337px;
@splash-logo-height:                      131px;
@splash-logo-margin-left:                 ( floor( @splash-logo-width / 2 ) * -1 );
@splash-logo-margin-top:                  ( floor( @splash-logo-height / 2 ) * -1 );

@header-logo-height:                      106px;

// Header flame
//@flame-container-width: 80px;

@man-page-dossier-page-gutter: 20px;
@man-page-action-shot-rotation: 7deg;
@man-page-dossier-gradient-start-color: #f6f6f6;
@man-page-dossier-gradient-start-percentage: 0%;
@man-page-dossier-gradient-middle-color: #efefef;
@man-page-dossier-gradient-middle-percentage: 47%;
@man-page-dossier-gradient-end-color: #ffffff;
@man-page-dossier-gradient-end-percentage: 100%;
