//** Styles
html,
body {
  height: 100%;
}

html {
  margin: 0 6%;
  padding: 0;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 3% 0;
}

#wrapper {
  min-width: 1170px;
}

a.btn,
a.btn-default,
button,
button:hover,
button:active {
  appearance: none !important;
  box-shadow: none !important;
  border: 0 !important;
  font-size: 0.9em !important;
  margin: 0 !important;
  padding: 2px 8px !important;
}

a.btn,
a.btn:active,
a.btn:hover,
.link,
.link:hover,
.link:active {
  text-decoration: none;
}

input {
  border: 1px solid #6B6A6A;
  padding: 2px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/*
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
*/
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//** Splash Screen
img.splash-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  height: @splash-logo-height;
  width: @splash-logo-width;
  margin-left: @splash-logo-margin-left;
  margin-top: @splash-logo-margin-top;
}

//** Header
#header {
  padding-bottom: 1em;
  font-size: 0.9em;
}

#header .header-logo img {
  height: @header-logo-height;
  zoom: 70%;
}

nav.navbar {
  float: right;
  min-height: 0;
  margin-top: -10px;
}

//** Content
#content {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  padding-left: 0;
}

//** Footer
#footer {
  padding-bottom: 2em;
}

.hide-scroll {
  height: 100%;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

#backButton {
  position: absolute;
  top: 0;
  left: 0;
}

#backButton a {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

#backButton .glyphicon {
  font-size: 20px;
}

#backButton a:hover {
  color: #777;
}
